[submodule "js/dht-rpc"]
	path = js/dht-rpc
	url = git@github.com:cowlicks/dht-rpc.git
	branch = rust-changes
[submodule "hdht/tests/common/js/hyperdht"]
	path = hdht/tests/common/js/hyperdht
	url = git@github.com:cowlicks/hyperdht.git
	branch = rust-changes
[submodule "hdht/tests/common/js/rpc"]
	path = hdht/tests/common/js/rpc
	url = git@github.com:cowlicks/dht-rpc.git
	branch = rs-hyperswarm-hdht-tests-changes
[submodule "hdht/tests/common/js/sodium-native"]
	path = hdht/tests/common/js/sodium-native
	url = git@github.com:cowlicks/sodium-native.git
	branch = rust-changes
[submodule "hdht/tests/common/js/noise-handshake"]
	path = hdht/tests/common/js/noise-handshake
	url = git@github.com:holepunchto/noise-handshake.git
	branch = rust-changes
[submodule "hdht/tests/common/js/udx-native"]
	path = hdht/tests/common/js/udx-native
	url = git@github.com:holepunchto/udx-native.git
